.Rproj.user
.Rhistory
.RData
.Ruserdata
Reporte2Revision.Rmd
Reporte2.Rmd
Reporte1Solucion.Rmd
Reporte1Revision.Rmd
Reporte1.Rmd
Clase1/Tarea1Revision.Rmd
Clase1/RevisionTarea1.Rmd
Clase1/Clase1Reporte.Rmd
Clase2/Tarea2Revision.Rmd
Clase3/Tarea3Revision.Rmd